
/*Header*/
#headerDiv {
    height: 100px;
    background-color: aqua;
    margin-bottom: 1em;
}

#header {
    font-family: 'Times New Roman', Times, serif;
}

/*Main content*/
#contentMain {
    height: 400px;
    background-color: aquamarine;
}